img {
    z-index: -1;
    position:fixed;
    width: 100%;
    height: 100%;
    
}
 button{
    position: relative;
    background-color: rgb(64, 232, 232);
    width: 15%;
    height: 50px;
    font-size: 20px;
}
.choices{
position: relative;
padding-left: 370px;
}
@keyframes move { 
80% {margin-left: 0%;}
  90% {margin-left: .5%}
  100% {margin-right: 1%;}
}
@keyframes small {

from {margin-left: 10%}
to {margin-left: -10%}
}
.shel{
    position:relative;
    left: 950px;
    top: 600px;
    width: 1px;
    height: 1px;
    transform: scale(199);
    background: transparent;
}
.shell{
    position:relative;
    left: 950px;
    top: 600px;
    width: 1px;
    height: 1px;
    transform: scale(199);
    background: transparent;
    animation-name: move;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.smallturtle{
    position:relative;
    left: 950px;
    top: 600px; 
    width: 1px;
    height: 1px;
    transform: scale(250);
    animation-name: small;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite ;
    animation-timing-function: ease-in-out;
    
}
.bigturtle{
    position:relative;
    left: 950px;
    top: 600px; 
    width: 1px;
    height: 2px;
    transform: scale(250);
    animation-name: small;
    animation-duration: 6s;
    animation-direction: alternate;
    animation-iteration-count: infinite ;
    animation-timing-function: ease-in-out;
}
.scoreboard {
        position: relative;
        left: 200px;
        top: 400px;
        width: 1px;
        height: 1px;
        transform: scale(13);
        background: transparent;
        box-shadow: 7px 2px #0d0d0d, 9px 2px #0d0d0d, 11px 2px #0d0d0d, 13px 2px #0d0d0d, 15px 2px #0d0d0d, 17px 2px #0d0d0d, 19px 2px #0d0d0d, 7px 3px #0d0d0d, 8px 3px white, 9px 3px #0d0d0d, 10px 3px white, 11px 3px #0d0d0d, 12px 3px white, 13px 3px #0d0d0d, 14px 3px white, 15px 3px #0d0d0d, 16px 3px white, 17px 3px #0d0d0d, 18px 3px white, 19px 3px #0d0d0d, 7px 4px white, 8px 4px white, 9px 4px white, 10px 4px white, 11px 4px white, 12px 4px white, 13px 4px white, 14px 4px white, 15px 4px white, 16px 4px white, 17px 4px white, 18px 4px white, 19px 4px white, 7px 5px white, 8px 5px white, 9px 5px white, 10px 5px white, 11px 5px white, 12px 5px white, 13px 5px white, 14px 5px white, 15px 5px white, 16px 5px white, 17px 5px white, 18px 5px white, 19px 5px white, 7px 6px white, 8px 6px white, 9px 6px white, 10px 6px white, 11px 6px white, 12px 6px white, 13px 6px white, 14px 6px white, 15px 6px white, 16px 6px white, 17px 6px white, 18px 6px white, 19px 6px white, 7px 7px white, 8px 7px white, 9px 7px white, 10px 7px white, 11px 7px white, 12px 7px white, 13px 7px white, 14px 7px white, 15px 7px white, 16px 7px white, 17px 7px white, 18px 7px white, 19px 7px white, 7px 8px white, 8px 8px white, 9px 8px white, 10px 8px white, 11px 8px white, 12px 8px white, 13px 8px white, 14px 8px white, 15px 8px white, 16px 8px white, 17px 8px white, 18px 8px white, 19px 8px white, 7px 9px white, 8px 9px white, 9px 9px white, 10px 9px white, 11px 9px white, 12px 9px white, 13px 9px white, 14px 9px white, 15px 9px white, 16px 9px white, 17px 9px white, 18px 9px white, 19px 9px white, 7px 10px white, 8px 10px white, 9px 10px white, 10px 10px white, 11px 10px white, 12px 10px white, 13px 10px white, 14px 10px white, 15px 10px white, 16px 10px white, 17px 10px white, 18px 10px white, 19px 10px white, 7px 11px white, 8px 11px white, 9px 11px white, 10px 11px white, 11px 11px white, 12px 11px white, 13px 11px white, 14px 11px white, 15px 11px white, 16px 11px white, 17px 11px white, 18px 11px white, 19px 11px white, 7px 12px white, 8px 12px white, 9px 12px white, 10px 12px white, 11px 12px white, 12px 12px white, 13px 12px white, 14px 12px white, 15px 12px white, 16px 12px white, 17px 12px white, 18px 12px white, 19px 12px white, 7px 13px white, 8px 13px white, 9px 13px white, 10px 13px white, 11px 13px white, 12px 13px white, 13px 13px white, 14px 13px white, 15px 13px white, 16px 13px white, 17px 13px white, 18px 13px white, 19px 13px white, 7px 14px white, 8px 14px white, 9px 14px white, 10px 14px white, 11px 14px white, 12px 14px white, 13px 14px white, 14px 14px white, 15px 14px white, 16px 14px white, 17px 14px white, 18px 14px white, 19px 14px white, 7px 15px white, 8px 15px white, 9px 15px white, 10px 15px white, 11px 15px white, 12px 15px white, 13px 15px white, 14px 15px white, 15px 15px white, 16px 15px white, 17px 15px white, 18px 15px white, 19px 15px white, 7px 16px white, 8px 16px white, 9px 16px white, 10px 16px white, 11px 16px white, 12px 16px white, 13px 16px white, 14px 16px white, 15px 16px white, 16px 16px white, 17px 16px white, 18px 16px white, 19px 16px white, 7px 17px white, 8px 17px white, 9px 17px white, 10px 17px white, 11px 17px white, 12px 17px white, 13px 17px white, 14px 17px white, 15px 17px white, 16px 17px white, 17px 17px white, 18px 17px white, 19px 17px white, 7px 18px white, 8px 18px white, 9px 18px white, 10px 18px white, 11px 18px white, 12px 18px white, 13px 18px white, 14px 18px white, 15px 18px white, 16px 18px white, 17px 18px white, 18px 18px white, 19px 18px white, 7px 19px white, 8px 19px white, 9px 19px white, 10px 19px white, 11px 19px white, 12px 19px white, 13px 19px white, 14px 19px white, 15px 19px white, 16px 19px white, 17px 19px white, 18px 19px white, 19px 19px white, 7px 20px white, 8px 20px white, 9px 20px white, 10px 20px white, 11px 20px white, 12px 20px white, 13px 20px white, 14px 20px white, 15px 20px white, 16px 20px white, 17px 20px white, 18px 20px white, 19px 20px white, 7px 21px white, 8px 21px white, 9px 21px white, 10px 21px white, 11px 21px white, 12px 21px white, 13px 21px white, 14px 21px white, 15px 21px white, 16px 21px white, 17px 21px white, 18px 21px white, 19px 21px white, 7px 22px white, 8px 22px white, 9px 22px white, 10px 22px white, 11px 22px white, 12px 22px white, 13px 22px white, 14px 22px white, 15px 22px white, 16px 22px white, 17px 22px white, 18px 22px white, 19px 22px white, 7px 23px white, 8px 23px white, 9px 23px white, 10px 23px white, 11px 23px white, 12px 23px white, 13px 23px white, 14px 23px white, 15px 23px white, 16px 23px white, 17px 23px white, 18px 23px white, 19px 23px white, 7px 24px white, 8px 24px white, 9px 24px white, 10px 24px white, 11px 24px white, 12px 24px white, 13px 24px white, 14px 24px white, 15px 24px white, 16px 24px white, 17px 24px white, 18px 24px white, 19px 24px white;
}
.scoreboard p {
    font-size: 1.5px;
    position: relative;
    top: 5px;
    left: 8px;
    margin: 1px;
} 